body {
  background-color: #BBBBBB;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-gap: 20px;
  align-items: center;
}

.container > * {
  grid-column: 2;
  min-width: 0;
}

.vote {
  grid-column: 3;
}

.post_card {
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  padding: 10px 20px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 50px;
  }
}
